@font-face {
font-family: vazir;
font-style: normal;
font-weight: 100;
src: url("fonts/Vazir-Thin.eot");
src: url("fonts/Vazir-Thin.woff") format("woff"),
    url("fonts/Vazir-Thin.ttf") format("ttf"),
    url("fonts/Vazir-Thin.woff2") format("woff2");
}
@font-face {
font-family: vazir;
font-style: normal;
font-weight: 300;
src: url("fonts/Vazir-Light.eot");
src: url("fonts/Vazir-Light.woff") format("woff"),
    url("fonts/Vazir-Light.ttf") format("ttf"),
    url("fonts/Vazir-Light.woff2") format("woff2");
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: 400;
src: url("fonts/Vazir-Regular.eot");
src: url("fonts/Vazir-Regular.woff") format("woff"),
    url("fonts/Vazir-Regular.ttf") format("ttf"),
    url("fonts/Vazir-Regular.woff2") format("woff2");
}
@font-face {
font-family: vazir;
font-style: normal;
font-weight: 950;
src: url("fonts/Vazir-Black.eot");
src: url("fonts/Vazir-Black.woff") format("woff"),
    url("fonts/Vazir-Black.ttf") format("ttf"),
    url("fonts/Vazir-Black.woff2") format("woff2");
}

body {
    background-image: url("pictures/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
    font-family: 'vazir', sans-serif;
    text-align: center;
    direction: rtl;
    color: white;
}
.countdown-container {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transform: translateY(-150px);  /* مقدار منفی یعنی بالا بردن */

}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.time-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    text-align: center;
    width: 100px;
}

.countdown-number {
    font-size: 36px;
    font-weight: bold;
    display: block;
}

.label {
    font-size: 16px;
    margin-top: 5px;
}