@font-face {
font-family: vazir;
font-style: normal;
font-weight: 100;
src: url("fonts/Vazir-Thin.eot");
src: url("fonts/Vazir-Thin.woff") format("woff"),
    url("fonts/Vazir-Thin.ttf") format("ttf"),
    url("fonts/Vazir-Thin.woff2") format("woff2");
}
@font-face {
font-family: vazir;
font-style: normal;
font-weight: 300;
src: url("fonts/Vazir-Light.eot");
src: url("fonts/Vazir-Light.woff") format("woff"),
    url("fonts/Vazir-Light.ttf") format("ttf"),
    url("fonts/Vazir-Light.woff2") format("woff2");
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: 400;
src: url("fonts/Vazir-Regular.eot");
src: url("fonts/Vazir-Regular.woff") format("woff"),
    url("fonts/Vazir-Regular.ttf") format("ttf"),
    url("fonts/Vazir-Regular.woff2") format("woff2");
}
@font-face {
font-family: vazir;
font-style: normal;
font-weight: 950;
src: url("fonts/Vazir-Black.eot");
src: url("fonts/Vazir-Black.woff") format("woff"),
    url("fonts/Vazir-Black.ttf") format("ttf"),
    url("fonts/Vazir-Black.woff2") format("woff2");
}

body {
    background-image: url("pictures/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f8f9fa;
    margin: 50px;
}
.counter {
    font-size: 2rem;
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
span {
    font-weight: bold;
    color: #007bff;
}